{% extends "base.html" %}
{% block content %}

<h3 style="color:#003366;font-weight:700;">Contact</h3>
<hr>

<div class="row g-4">
    <div class="col-md-5">
        <div class="section-card h-100">
            <div class="section-title">SPARK Office</div>
            <div class="section-body">
                <address class="mb-0">
                    <strong>SPARK</strong><br>
                    CSIR-4PI, Belur Campus<br>
                    Bangalore – 560 037<br><br>
                    <strong>E-mail:</strong>
                    <a href="mailto:spark@csir4pi.in">spark@csir4pi.in</a><br>
                    <strong>URL:</strong>
                    <a href="http://www.csir4pi.in/spark/" target="_blank">www.csir4pi.in/spark/</a>
                </address>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="section-card h-100">
            <div class="section-title">Route Map – CSIR 4PI</div>
            <div class="p-0">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.614!2d77.64516!3d12.98099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11ab3b3b3b3b%3A0x1d1b0f741a0b8c0!2sCSIR-Fourth%20Paradigm%20Institute!5e0!3m2!1sen!2sin!4v1700000000000"
                    width="100%" height="260" style="border:0;display:block;" allowfullscreen loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}
